/* /app/assets/components/Techstack/Techstack.scss */
@import "../../globals/_css-resets.scss";
@import "../../globals/_mixins.scss";
@import "../../globals/_variables.scss";
@import "../../globals/_media-queries.scss";
@import "../../globals/_font-face";


.Techstack{
    width: 100%;
    background-color: black;
    color: white;
    @include zentrieren();
    font-family: "Poppins",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 3em 2em 3em 2em;
    @media screen and (max-width : $Tablet_Breakpoint) {
        padding: 1.5em 1.5em 2em 1.5em;
    }
    .Techstack_Headline{
        font-size: 32px;
        text-align: center;
        width: 80%;
        font-weight: 500;
        @media screen and (max-width : $Laptop_Breakpoint_L) {
            width: 85%;
        }
        @media screen and (max-width : $Laptop_Breakpoint) {
            width: 100%;
            text-align: left;
        }
        @media screen and (max-width : $Tablet_Breakpoint) {
            width: 100%;
            font-size: 24px;
        }
        @media screen and (max-width : $Mobile_Breakpoint_L) {
            width: 100%;
        }
    }
    .Techstack_Description{
        line-height: 2em;
        text-align: center;
        width: 80%;
        @media screen and (max-width : $Laptop_Breakpoint_L) {
            width: 85%;
        }
        @media screen and (max-width : $Laptop_Breakpoint) {
            width: 100%;
            text-align: left;
        }
        @media screen and (max-width : $Tablet_Breakpoint) {
            width: 100%;
            font-size: smaller;
        }
        @media screen and (max-width : $Mobile_Breakpoint_L) {
            width: 100%;
        }
    }
    .Skills_Container{
        @include zentrieren-grid(1fr,3,auto);
        padding-top: 1em;
        width: 80%;
        gap: 2em;
        overflow: scroll;
        @media screen and (max-width : $Laptop_Breakpoint) {
            width: 100%;
            grid-template-columns: repeat(2, 1fr); // Mobil: 2x3
        }
        @media screen and (max-width : $Tablet_Breakpoint) {
            width: 100%;
            grid-template-columns: repeat(1, 1fr); // Mobil: 1x6
        }
        @media screen and (max-width : $Mobile_Breakpoint_S) {
            width: 100%;
        }
        height: 850px;
        .Skill{
            background-color:rgb(255, 255, 255);
            min-height: 250px;
            border: 2px solid white;
            background-color: aliceblue;
            // background-color: rgb(216, 216, 216);
            color: #282c34;
            border-radius: 12px;
            padding: 1em;
            @include zentrieren();
        }
    }
    .Pagination_Container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .Pagination_Dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #cfcfcf;
            margin: 0 5px;
            cursor: pointer;
            &.active {
                background-color: $Primary_Royalblue;
            }
        }
    }
}


    // .Skills_Container {
    //     width: 80%;
    //     display: grid;
    //     grid-template-columns: repeat(3, 1fr); // Desktop: 3x3
    //     grid-template-rows: repeat(3, 1fr); // Desktop: 3x3
    //     gap: 1em;
    //     margin-top: 1em;
    //     @media screen and (max-width : $Tablet_Breakpoint) {
    //       grid-template-columns: repeat(2, 1fr); // Tablet: 2x3
    //     }
    //     @media screen and (max-width : $Mobile_Breakpoint_L) {
    //       grid-template-columns: repeat(1, 1fr); // Mobil: 1x6
    //     }

    //     .Skill_Item {
    //         min-height: 250px;
    //         border: 2px solid white;
    //         background-color: aliceblue;
    //         // background-color: rgb(216, 216, 216);
    //         color: #282c34;
    //         border-radius: 12px;
    //         padding: 1em;
    //         @include zentrieren();
    //       // ... Stile für jedes Skill-Element hier ...
    //         .Skill_Description{
    //             font-size: 12px;
    //         }
    //     }
    // }
    //     .Pagination_Container {
    //         display: flex;
    //         justify-content: center;
    //         margin-top: 20px;
    //         .Pagination_Dot {
    //             width: 12px;
    //             height: 12px;
    //             border-radius: 50%;
    //             background-color: #9e9e9e;
    //             margin: 0 5px;
    //             cursor: pointer;
    //             &.active {
    //                 background-color: #5e5e5e;
    //             }
    //         }
    //     }