/* Hamburger Menu */
$Burger_Menu_Closed_Color : #000;
$Burger_Menu_Open_Color  :  #fff;

/* Navbar */
$Navbar_BG_Color : #ffffff;
$Nav_Link_Color : rgba(0, 0, 0, 0.8);
$Nav_Links_Hover_Border : rgba(0, 0, 0,.8);

/* Sidebar */
$Sidebar_BG_Color : rgba(15, 15, 15, 0.99);

/* Breakpoints */
$Laptop_Breakpoint_L : 1440px;
$Laptop_Breakpoint : 1024px;
$Tablet_Breakpoint : 768px;
$Mobile_Breakpoint_L : 425px;
$Mobile_Breakpoint_M : 375px;
$Mobile_Breakpoint_S : 320px;

$Primary_Font_Color : rgba(255, 255, 255, .8);
$Primary_Royalblue : #0071e3;

$Navbar_Height : 60px;



$WhiteBG : #ffffff;
// $WhiteBG_Alt : #f5f5f7;

// $WhiteBG_Alt : #ececec;
$WhiteBG_Alt :#e5e7eb;
$FontBlack : #1D1D1D